body {
	
	background-image: url('assets/scallops.jpg');
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    background-size: cover; 
}

.flag {
	
	font-family: 'Lobster', cursive;
	color: #66b3ff;
	text-align: center;
	letter-spacing: 2px;
}


.tron {

	font-family: 'Lobster', cursive;
	letter-spacing: 2px;
	color: 	 #ffbf00;
	text-align: center;
	margin-bottom: 0px;

}

.tron1 {
	font-size: 60px;
	font-family: 'Lobster', cursive;
	color: #66b3ff;
	text-align: center;
}

.nav {
	
	font-family: "Raleway", Arial, sans-serif;
	color: #66b3ff;
	letter-spacing: 2px;
	margin-top: 10px;

}

.list {
	
	font-family: 'Lobster', cursive;
	color: #333;
	letter-spacing: 2px;
}

.form {
	
	font-family: 'Lobster', cursive;
	color: #66b3ff;
	letter-spacing: 2px;
}

.editer {
	font-family: "Raleway", Arial, sans-serif;

}

.logo {
	
	font-size: 110px;
	font-family: 'Lobster', cursive;
	color: #66b3ff;
	text-align: center;
	margin-bottom: 0px;

}

.login {

	font-family: 'Lobster', cursive;
	color: #66b3ff;
	text-align: center;
}

.login1 {
	font-family: 'Lobster', cursive;
	color: #66b3ff;
	text-align: left;
	letter-spacing: 0px;

}

.form-control {
	font-family: "Raleway", Arial, sans-serif;
}


.navbar-nav>li>a {
    padding-top: 11px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 15px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
}

.homepage {

    margin-top: -20px;
    margin-right: -10px;

}

.video-container {
	position:relative;
	margin-bottom: 200px;
	margin-top: 50px;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.featured{
	background-position: center;
}

.cell1 {
	height: 370px;
    width: 370px;
    float: left;
    display: block;
    margin: 3px;
    border-radius: 10px;
    background: #fff url("assets/ramsay.jpg") 0 0 no-repeat;
    transition: background-image ease .6s;
}

.cell1:hover {
    background: #ffa url("assets/pizza.jpg") 0 0 no-repeat;
}

.cell2 {
	height: 370px;
    width: 370px;
    float: left;
    display: block;
    margin: 3px;
    border-radius: 10px;
    background-position: left; 
    background: #fff url("assets/giada.jpg") 0 0 no-repeat;
    transition: background-image ease .6s;
}

.cell2:hover {
    background: #ffa url("assets/breakfast.jpg") 0 0 no-repeat;
}

.cell3 {
	height: 370px;
    width: 370px;
    float: left;
    display: block;
    margin: 3px;
    border-radius: 10px;
    background: #fff url("assets/bobby.jpg") 0 0 no-repeat;
    transition: background-image ease .6s;
}

.cell3:hover {
    background: #ffa url("assets/pcs.jpg") 0 0 no-repeat;
}

.uploads {


}

.ramsay{

	font-family: 'Lobster', cursive;
	letter-spacing: 2px;
	color: #66b3ff;
	text-align: left;
	margin-bottom: 0px;

}



.flay{
	font-family: 'Lobster', cursive;
	letter-spacing: 2px;
	color: 	 #ffbf00;
	text-align: right;
	margin-bottom: 0px;
}

/*experimenting with div shapes*/

/*.list-group { 
    width: 300px; 
    height: 200px; 
    margin: 50px;
    position: relative;
    text-align: center;
}
*/



