<div class="featured">
    <div class="buttons">
        <div class="cells">
            
        	<a ui-sref="ramsay">
            <div class="cell1" id="pancakes"></div>
            </a>

            <a ui-sref="giada">
            <div class="cell2" id="pita"></div>
            </a>

            <a ui-sref="flay">
            <div class="cell3" id="cheesesteak"></div>
            </a>


        </div>
    </div>
</div>

<!-- 
<div class="container">
	<p class="ramsay tron1">
		&nbsp&nbsp&nbsp
		
		Ramsay &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

		De Laurentiis &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		
		Flay 
	</p>
</div>

 -->