<img class="cell3" id="cheesesteak"></img>

<div class="jumbotron logo">
	
	<h1> Chef Bobby Flay</h1>

	<div class="chef">

		<h3> Ribeye Philly Cheesesteak </h3>
		
		<div class="tron">
		<h3>
			<ul>
				- 2 to 2 1/2 pound strip loin, trimmed
				- Olive oil
				- Salt and freshly ground black pepper
				- Soft hoagie rolls, split 3/4 open
				- Provolone Sauce
				- Caramelized Onions
				- Sauteed Peppers

			
			<div class="nav">
				Place steak in freezer for 30 to 45 minutes; this makes it easier to slice the meat. Remove the meat from the freezer and slice very thinly.

				<hr>

				Heat griddle or grill pan over high heat. Brush steak slices with oil and season with salt and pepper. Cook for 45 to 60 seconds per side.

				<hr>

			Place several slices of the meat on the bottom half of the roll, spoon some of the cheese sauce over the meat, and top with the onions, and peppers.

			<hr>

Provolone Sauce:
Melt butter in a medium saucepan over medium heat. Whisk in the flour and cook for 1 minute. Slowly whisk in the warm milk, and cook, whisking constantly until thickened, about 4 to 5 minutes. Remove the mixture from the heat and whisk in the provolone and Parmesan until combined; season with the salt and pepper.
<hr>
Caramelized Onions:
Heat butter and oil in a large saute pan over medium heat. Add the onions, season with salt and pepper, and cook slowly until golden brown and caramelized, stirring occasionally, approximately 30 to 40 minutes.
<hr>
Sauteed Peppers:
Heat the oil in medium saute pan over high heat. Add the peppers and cook until soft. Season with salt and pepper.


			</div>

			</h3>
		</div>

	</div>

</div>