<img class="cell2" id="pita"></img>

<div class="jumbotron logo">
	
	<h1>Chef Giada De Laurentiis</h1>

	<div class="chef">

		<h3> Banana Maple French Toast </h3>
		
		<div class="tron">
		<h3>
			<ul>
				- 6, 6 inch pita 
				- Extra-virgin olive oil
				- 3/4 cup mascarpone cheese
				- grated zest of 1/2 lemon
				- Kosher salt and black pepper
				- 3 tbspn lemon juice
				- 3 cups arugala
				- 8 ounce sliced prosciutto
			
			
			<div class="nav">
				Heat a grill pan over medium-high heat or preheat a gas or charcoal grill. Brush each side of the pita breads with 1/2 teaspoon olive oil and grill 2 to 3 minutes on each side, until crisp. Remove from the grill and cool slightly.

				In a large skillet, heat 1 tablespoon olive oil over medium-high heat. Crack the eggs directly into the pan and cook until the egg whites are set, 2 to 3 minutes.

				Combine the mascarpone cheese, lemon zest, 1/2 teaspoon salt and 1/2 teaspoon pepper in a small bowl.

				In a medium bowl, whisk together 3 tablespoons olive oil, the lemon juice, 1 teaspoon salt and 1/2 teaspoon pepper until smooth. Add the arugula and toss until coated.

				Spread each pita with 2 tablespoons of the mascarpone mixture. Divide the prosciutto on top. Divide the arugula and mound on top of the prosciutto. Carefully place a fried egg on top of each pita. Season the eggs with a pinch of salt and pepper, and serve.

			</div>

			</h3>
		</div>

	</div>

</div>