<img class="cell1" id="pancakes"></img>

<div class="jumbotron logo">
	
	<h1> Featured Chef Gordon Ramsay</h1>

	<div class="chef">

		<h3> Banana Maple French Toast </h3>
		
		<div class="tron">
		<h3>
			<ul>
				-2 eggs
				- 150ml milk
				- 25g caster sugar
				- 1tsp ground cinnamon
				- 4 thick slices white bread
				- 6tbsp maple syrup
				- 50g plain chocolate, grated
				- 2 bananas, peeled and sliced 
			
			
			<div class="nav">
				Place the eggs and milk in a bowl and whisk together thoroughly. Whisk in the sugar and cinnamon.
				Dip the slices of bread in the egg mixture making sure they are completely coated. Heat a large knob of butter in a heavy-based frying pan until foaming and add the soaked bread slices. Fry for 1-2mins on each side until golden brown.
				Meanwhile, place the maple syrup and chocolate in a small and heat gently, stirring, until the chocolate has melted into the syrup.
				Serve the French toast topped with the sliced bananas and drizzled with the warm chocolate syrup.

			</div>

			</h3>
		</div>

	</div>

</div>