<div class="container form">

<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Add A New Recipe</h3></div>
	<div class="panel-body">
		<form id="new-recipe-form" ng-submit="recipesCtrl.addRecipe(recipesCtrl.newRecipe.name,recipesCtrl.newRecipe.cuisine,recipesCtrl.newRecipe.ingredients)">
			<div class="form-group">    
		    	<input type="text" name="name" ng-model="recipesCtrl.newRecipe.name" placeholder="Name" class="form-control">
		    </div>
			<div class="form-group">
				<input type="text" name="cuisine" ng-model="recipesCtrl.newRecipe.cuisine" placeholder="Cuisine" class="form-control">
			</div>
			
            <div class="form-group">
				<TEXTAREA Name="content" ROWS=3 COLS=20 name="ingredients" ng-model="recipesCtrl.newRecipe.ingredients" placeholder="Ingredients" class="form-control"> </TEXTAREA>
			</div>
			<div class="form-group">
				<TEXTAREA Name="content" ROWS=5 COLS=20 name="instructions" ng-model="recipesCtrl.newRecipe.instructions" placeholder="Instructions" class="form-control"> </TEXTAREA>
			</div>
	
	
					<div class="text-center">
			<button type="submit" class="btn btn-info btn-block">Add Recipe <span class="glyphicon glyphicon-cutlery"></span> </button>
			</div>
		</form>
	</div>
</div>
</div>
