<div class="list">


<div class="panel panel-default" ng-hide="recipeDetailsCtrl.editing">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span></h3>
	</div>
	
	<img class="img-responsive" src="{{recipeDetailsCtrl.recipe.avatar_url}}"/>
	

	<div class="panel-body">
		<h1><strong>{{ recipeDetailsCtrl.recipe.name }}</strong></h1>


	<div class="editer">
		<hr> 
		<h3>{{ recipeDetailsCtrl.recipe.cuisine }}
		<hr> 
		You will need... <br><br> {{ recipeDetailsCtrl.recipe.ingredients }} 
		<hr> {{ recipeDetailsCtrl.recipe.instructions }} </h3>
	</div>
</div>

<!-- 	edit and delete buttons -->
<div class="text-center">

<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:7gnYgsD4YqbKBNdkpjGric" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>

	<button class="btn btn-info btn-block" ng-click="recipeDetailsCtrl.editing=!recipeDetailsCtrl.editing"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit</button>

    <button class="btn btn-danger btn-block" ng-click="recipeDetailsCtrl.removeRecipe(recipeDetailsCtrl.recipe._id)">
        <span class="glyphicon glyphicon-trash"></span> &nbsp Delete
    </button>
	
	</div>
</div>


<div class="panel panel-default" ng-show="recipeDetailsCtrl.editing">
<!-- <h3><strong>ID</strong>: {{ recipeDetailsCtrl.recipe._id }}</h3> -->
	<div class="panel-heading"><h3 class="panel-title">Edit Recipe</h3></div>
	<div class="panel-body">
		<form class="" ng-submit="recipeDetailsCtrl.updateRecipe(recipeDetailsCtrl.recipe._id, recipeDetailsCtrl.recipe.avatar_url, recipeDetailsCtrl.recipe.name, recipeDetailsCtrl.recipe.cuisine, recipeDetailsCtrl.recipe.ingredients, recipeDetailsCtrl.recipe.instructions)">
			

			<div class="form-group">    
		    	<input type="text" name="name" ng-model="recipeDetailsCtrl.recipe.name" placeholder="name" class="form-control">
		    </div>
			<div class="form-group">
				<input type="text" name="cuisine" ng-model="recipeDetailsCtrl.recipe.cuisine" placeholder="cuisine" class="form-control">
			</div>
			<div class="form-group">
				<TEXTAREA Name="content" ROWS=3 COLS=20 name="ingredients" ng-model="recipeDetailsCtrl.recipe.ingredients" placeholder="Ingredients" class="form-control"> </TEXTAREA>
			</div>
			<div class="form-group">
				<TEXTAREA Name="content" ROWS=6 COLS=20 name="instructions" ng-model="recipeDetailsCtrl.recipe.instructions" placeholder="Instructions" class="form-control"> </TEXTAREA>
			</div>
            
			<div class="text-center">
				<button type="submit" class="btn btn-info btn-block">Update Recipe</button>
			</div>
			
		</form>
	</div>
</div>

</div>